@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Palette:
1. #0E0D0D
2. #53463E
3. #9F7963
4. #CC8B62
5. #DCA782
6. #EB9357
*/

/* ========== Global ========== */

body {
    background: url(../images/bg-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* ========== Typography ========== */

/* ========== Hero ========== */

/* Mobile */

.hero {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    /*height: 100vh;*/
    background-color: transparent;
}

.hero .container {
    position: relative;
}

.hero h1, .hero h5 {
    -webkit-text-shadow: 0px 0px 44px rgba(0,0,0,0.62);
    -moz-text-shadow: 0px 0px 44px rgba(0,0,0,0.62);
    text-shadow: 0px 0px 44px rgba(0,0,0,0.62);
}

#face {
    border-radius: 50%;
    margin-bottom: 30px;
    max-width: 200px;
    -webkit-box-shadow: 0px 0px 44px -15px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 44px -15px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 44px -15px rgba(0,0,0,0.62);
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    .hero {
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero .container {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* ========== Work ========== */

/* Mobile */

.work h6 {
    margin-top: -15px;
    margin-bottom: 0px;
}

.projects div {
    margin-bottom: 20px;
    margin-top: 50px;
}

.projects img {
    width: 100%;
    margin-bottom: 15px;
    border: 4px solid white;
    border-radius: 3px;
}

.projects a, .projects a:hover, .projects a:focus {
    color: white;
    text-decoration: none;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* ========== Tech ========== */

/* Mobile */

.tech h1 {
    margin-bottom: 50px;
}

.tech h4 {
    margin: 200px 0;
}

.tech p {
    margin-top: -40px;
    margin-bottom: 50px;
}

.lang i {
    text-align: center;
    font-size: 80px;
    line-height: 100px;
}

.lang h6 {
    text-align: center;
    margin-top: 10px;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* ========== Tech ========== */

/* Mobile */

.resume h1 {
    margin-bottom: 50px;
}

.job {
    text-align: left;
}

.job h4, .job h5 {
    margin-bottom: 5px;
}

.date {
    text-align: right;
}


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* ========== Contact ========== */

/* Mobile */

.contact {
    margin-bottom: 0px;
}

.contact h3 {
    margin-bottom: 50px;
}

.contact a, .contact a:hover, .contact a:focus {
    color: white;
    text-decoration: none;
}

.contact-link {
    margin-bottom: 40px;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
