@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ========== Typography ========== */

/* ========== Hero ========== */

/* Mobile */

.hero {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    height: 100vh;
    background: url(../images/bg-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero .container {
    position: relative;
}

#face {
    border-radius: 50%;
    margin-bottom: 30px;
    max-width: 200px;
    -webkit-box-shadow: 0px 0px 44px -15px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 44px -15px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 44px -15px rgba(0,0,0,0.62);
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    .hero {
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero .container {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* ========== Work ========== */

/* Mobile */

.work {
    text-align: center;
    background-color:  rgb(210, 149, 96);
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}

.work h1 {
    margin-bottom: 50px;
}

.projects div {
    margin-bottom: 20px;
}

.projects img {
    width: 100%;
}

.projects a, .projects a:hover, .projects a:focus {
    color: white;
    text-decoration: none;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* ========== Tech ========== */

/* Mobile */

.tech {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}

.tech h1 {
    margin-bottom: 50px;
}

.tech h4 {
    margin: 200px 0;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* ========== Contact ========== */

/* Mobile */

.contact {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}

.contact h1 {
    margin-bottom: 50px;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
